<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextUtils</title>
</head>
<body>
    <h1>Welcome to Text Analyzer<br>Enter Your Text Below</h1>
    <form action="/analyze" method='get'>
        <textarea name='text' cols="30" rows="10" style="width: 339px; height: 166px;"></textarea><br>
        <input type="checkbox" name="removepunc">Remove Punctuation <br>
        <input type="checkbox" name="upperCase">Convert to UpperCase <br>
        <input type="checkbox" name="removeNewLine">New Line Remover <br>
        <input type="checkbox" name="removeExtraSpace">Extra space Remover <br>
        <input type="checkbox" name="charCount">Character Counter <br>
        <button type="submit">Analyze Text</button>
    </form>
</body>
</html>